.Home {

    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    
  }
  
  .Button-home {
    width: 50%!important;
    height: 50%!important;
  }
  

  
  
  .Botoncae {
    color: white!important;
    background-color: #F23545!important;
    border-color: black !important;
    margin-bottom: -1%;
    margin-left: 30%;
    width: 100%;
    height: auto;
  }
  
  
  .titulo {
    
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    margin-top: 30px;
    font-weight: 100;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 2px solid #F23545;
  
  }
  
  .dropdown-item {
   
    
    width: 100%!important;
    border-color: rgb(0, 0, 0) !important;
    
  }
  .dropdown-menu.show {
    display: block!important;
    width: 100%!important;
}
  
  .link {
    text-decoration: none;
    color: black;
    outline: none;
  }
  
  .img {
   
    margin-left: 20%;
    padding: 10% 20%;
    width: 130%;
    height: 130%;
  }
  .space{
    margin-top: 5%;
  }
  .imgc{
    margin-left: 20%;
    padding: 10% 20%;
    width: 130%;
    height: 130%;
    margin-top: 14px;
  }

.main-container{
  height: 100vh;
  background-size: cover;
 background: linear-gradient(#ff000005,#ffffff,#ffffff,#ff00002c );

}