.RevisionTecnicaVehi{
    margin-left: 5%;
}
.BodyRevisionTec{
    margin-left: 5px;
}

.button{
    
    transition-duration: 0.4s;
    background-color: #ff1100;
    color: #ffffff;
    margin-left: 5px;
    margin-right: 5px;
    padding: 3px 20px;
    border-radius: 6px;
   
  }
  .buttonl{
    
    transition-duration: 0.4s;
    background-color: #ff1100;
    color: #ffffff;
    margin-left: 30%;
    margin-right: 5px;
    padding: 3px 20px;
    border-radius: 6px;
   
  }
  
  .button:hover:enabled {
    background-color: #e64d42f6; /* Green */
    color: rgba(245, 239, 239, 0.863);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  .buttonl:hover:enabled {
    background-color: #e64d42f6; /* Green */
    color: rgba(245, 239, 239, 0.863);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  .consulta{
    margin-left: 40%;
    width: auto;
  }
  .b_consultar{

    transition-duration: 0.4s;
    background-color: #ff1100;
    color: #ffffff;
    margin-left: 45%;
    margin-right: 5px;
    padding: 3px 20px;
    border-radius: 6px;

  }
  .b_consultar:hover:enabled {
    background-color: #e64d42f6; /* Green */
    color: rgba(245, 239, 239, 0.863);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  .pro{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-direction: column;
    
  }
  .cubo{
    border-color: #ff1100;
  }
.protan{
  width: 70%;
  height: 90px;
}.nel{
  margin-top: 20px;
  margin-left: 20%;
  margin-bottom: 33px;
}
.blob-to-image{
  width: 50%;
  margin-left: 25%;
  height: auto;
}


 .ko{
  padding: 10px 20px;
  display: inline-flex;
  justify-content: center;
 flex-direction: row;
  
 }
 @media  (max-width: 844px) {
  .consulta{margin-left: 35%;}
  .ko{
    display:  inline-block;
    flex-direction: column;
    
  
  }
 }